#section-about {
  margin-top: 100px;
  background-color: #fff;
  background-image: url("../img/hero-bg-5.jpg");
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0px 10% 0px 10%;
}
.about-img {
  max-width: 100%;
  height: auto;
  margin-top: 0.5rem;
}
.about-text h2 {
  color: #003049;
  font-weight: 600;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}
.about-text p {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 18px;
}
.btn-resume {
  font-size: 18px;
  padding: 0px 20px;
  color: #fff;
  background-color: #34A0A4;
  border: none;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 230px;
  border-radius: 30px;
}
.btn-gradient i{
  font-size:30px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.btn-gradient {
  width: 40%;
  position: relative;
  display: inline-block;
  left: -24px;
  border-top-right-radius: 60px;
  padding: 8px 24px 8px 16px;
  box-shadow: 2px 0px 0px 0px rgba(78, 72, 72, 0.4);
}
.btn-text {
  width: 55%;
}
.btn-resume:hover{
  color: #fff;
  background-color: #f06262;
}
