#section-contact {
    margin-top: 100px;
    width: 100%;
    /* background-image: linear-gradient(to top, #ffffff, #fcfbfb, #f9f6f6, #f6f2f0, #f0efeb); */
    background-image: url("../img/hero-bg-5.jpg");
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 50px 0px 50px 140px;
    left: 0px;
    bottom: 0px;
  }
  #section-contact p{
    font-size: 18px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
  }
  #section-contact h2{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    color: #003049;
    font-weight: 600;
  }
  .contact-details span{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    color: #283d3b;
    font-weight: 600;
    margin-left: 2%;
  }
  .contact-details .fas{
    color: #283d3b;
    font-size: 25px;
  }
  @media (max-width: 1100px) {
    #section-contact{
      padding: 50px 0px 50px 10px;
    }
  }