#section-hero {
  max-width: 100%;
  height: 120vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/hero-bg-5.jpg");
}
.hero-content {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 45%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.hero-content h3 {
  font-family: Roboto;
  color: #003049;
  font-weight: 700;
}
.hero-content h3 span {
    font-family: Roboto;
    color: #c5003e;
    font-weight: 700;
  }
  .hero-content p{
      font-size: 18px;
  }
.hero-img {
  background-image: url("../img/hero-bg-2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  height: 100%;
  background-size: 500px;
  background-position-x: 94%;
}
.Typewriter {
  font-family: Roboto;
  color: #006400;
  font-size: 40px;
  font-weight:700;
}
@media (max-width: 1100px) {
  .hero-img {
    background-position: top center;
    opacity: 0.6;
  }
  .hero-content{
    margin-left: 6%;
    margin-top: 5%;
  }
}
