.modal-style {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 1000;
  margin-right: -20%;
  overflow-y: auto;
}

.overlay-style {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.modal-img {
  box-sizing: border-box;
  max-width:100%;
  height:100%;
}
.modal-title {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 49px;
  color: #34A0A4;
}
.modal-description {
  font-size: 14px;
  line-height: 21px;
}
.pills-section li{
    text-align: center;
    display: inline-block;
    border-style: solid;
    border-radius: 25px;
    border-color: gray;
    padding: 5px 15px;
    margin-left: 3px;
    border-width: 0.5px;
    margin-bottom: 5px;
}
.btn-close-modal{
  float: right !important;
}
.btn-modal-link{
  width: 100%;
  margin-bottom: 4%;
}
.pills-title{
  color: #588b8b;
}
.pills-section{
  color: #588b8b;
}

@media (max-width: 1100px) {
  .modal-style {
    overflow-y: auto;
    height: calc(100vh - 80px);
    margin-right: -34%;
  }
}

