#PortfolioFooter {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: #463f3a;
    color: white;
    text-align: center;
 }
 #PortfolioFooter p{
     padding-top: 0.5rem;
     text-align: center;
     line-height: 2.4rem;
 }
 .footer-links{
    color: #fff;
    margin-left: 3%;
 }
 .footer-links img{
     height:40px;
     width:40px;
 }
 .copyright-text .fas{
    color: red;
 }
 .copyright-text{
     font-size: 11px;
     margin-left: 3%;
     color: #fff;
 }
 