#section-project {
  margin-top: 120px;
  width: 100%;
  /* background-image: linear-gradient(to bottom, #ffffff, #fcfbfb, #f9f6f6, #f6f2f0, #f0efeb);  */
  background-image: url("../img/hero-bg-5.jpg");
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 65px 5% 0px 5%;
  position: relative;
}
.project-para{
  font-size: 18px;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}
#section-project h2{
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  color: #003049;
  font-weight: 600;
}

.project-div{
  max-width:90%;
}
.project-list{
  display: grid;
  margin-top: 10px;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  max-width: 600px;
}
.project-card{
  display: inline-block;
  text-align: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 25px;
  margin-inline-end: 25px;
}
.project-card img{
  justify-items: center;
  width: 12rem;
  height: 9rem;
}
.project-card span{
  display: block;
  color: #666;
  font-size: 16px;
  margin-top: 8px;
  font-weight: 600;
}
.close-card{
  opacity:0.4;
}
.close-card-text{
  display: flex;
  position: absolute;
  margin-top: 3.3rem;
  margin-left: 0.8rem;
}
.close-card-text p{
  font-size: 26px;
  font-weight: bolder;
  color: #000;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}
.btn-project-card{
  background: none;
}
@media screen and (min-width: 1250px){
  .project-list{
    margin-top: 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 550px){
  .project-list{
    margin-top: 10px;
    grid-template-columns: 1fr;
  }
}