#section-tech {
  margin-top: 100px;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 65px 5% 0px 5%;
}
#section-tech p{
  font-size: 18px;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}
#section-tech h2{
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  color: #003049;
  font-weight: 600;
}
.tech-list {
  display: grid;
  margin-top: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 2rem;
  margin-bottom: 96px;
  max-width: 600px;
}
.tech-icon{
  display: inline-block;
  text-align: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}
.tech-icon img{
  justify-items: center;
  width: 5rem;
  height: 5rem;
}
.tech-icon span{
  display: block;
  color: #666;
  font-size: 16px;
  margin-top: 8px;
  font-weight: 600;
}
@media screen and (min-width: 1024px){
  .tech-list{
    margin-top: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 500px){
  .tech-list{
    margin-top: 10px;
    grid-template-columns: 1fr 1fr;
  }
}